<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Book Viewer 9000</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
</head>

<body>


  <div style="font-size:10rem;width:100%;text-align:center;">
    <form action="">
      <div class="form-group">
        📚
        <h1>BookViewer-9000</h1>
        <h2>Only the best are sold here!</h2>
        <button type="button" class="btn btn-light">
          <a href="/register" style=" 
            text-decoration: inherit;
            color: inherit;
            cursor: auto;">
            Register
          </a>
        </button>
        <button type="button" class="btn btn-success">
          <a href="/login" style=" 
            text-decoration: inherit;
            color: inherit;
            cursor: auto;">
            Login
          </a>
        </button>
      </div>
    </form>
  </div>


<%- include("partials/scripts") -%>


<%- include("partials/footer") -%>